* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: lightblue;
  position: fixed;
}

#image {
  height: 50vh;
  width: 60vw;
  background-color: white;
  /* background-image: url(./messi.jpg); */
  background-size: cover;
  background-position: center top;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 1px white; 
  */
  position: relative;
}

#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#image #overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;

}