* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

#box1 {
  height: 300px;
  width: 300px;
  background-color: crimson;
}
#box2 {
  height: 300px;
  width: 300px;
  background-color: lightblue;
}

#box3 {
  height: 300px;
  width: 300px;
  background-color: lightgreen;
}

.box__1 {
  height: 300px;
  width: 300px;
  background-color: pink;
}

/* End Box Css */

.text-color-white {
  color: white;
}

/* End Text Css */

.timeline-box-1 {
  height: 100px;
  width: 100px;
  background-color: red;
}

.timeline-box-2 {
  height: 100px;
  width: 100px;
  background-color: green;
}

.timeline-box-3 {
  height: 100px;
  width: 100px;
  background-color: blue;
}

/* End Timeline Box Css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: white ;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.header__nav a {
  text-decoration: none;
  color: white;
}

.header__nav a:hover {
  color: lightblue;
}

.title {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  font-size: 80px;
  white-space: nowrap;
  font-weight: 900;
}